* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

body,
html {
  background-color: #e4e4e4;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.searchAtomInput {
  position: absolute;
  left: 40%;
  padding-left: 2%;
  padding-right: 2%;
  top: 5%;
  width: 13%;
  height: 5%;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.searchAtomButton {
  position: absolute;
  left: 55%;
  top: 5%;
  height: 5%;
  border: none;
  outline: none;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 50%;
  font-size: calc(2vh);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.searchAtomInput.autosuggest {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.searchAtomInput:focus,
.searchAtomButton:hover {
  background-color: #ddd;
}

#slider {
  margin-top: calc(55vh);
  rotate: -90deg;
  width: calc(80vh);
  outline: none;
  border: none;
}

#slider::-webkit-slider-runnable-track {
  background-color: #fff;
  border-radius: 10px;
}

.atomProperties {
  position: absolute;
  top: calc(20vw);
  right: 20%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
}

.alias {
  font-size: calc(10vh);
}

.name {
  position: absolute;
  font-size: calc(5vh);
  bottom: 1%;
}

.number {
  position: absolute;
  top: 3%;
  left: 3%;
}

.atomicWeight {
  position: absolute;
  font-size: calc(1.3vh);
  bottom: 3%;
  left: 3%;
}

.atomImg {
  position: absolute;
  top: 25%;
  left: 15%;
  height: calc(50vh);
  aspect-ratio: 1 / 1;
}

.numberIsotops {
  position: absolute;
  top: 5%;
  right: 3.5%;
  font-size: calc(2vh);
}

.author {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.autoSuggest {
  position: absolute;
  height: 20%;
  width: 13%;
  left: 40%;
  top: 10%;
  padding: 1%;
  background-color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-y: auto;
  text-align: left;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.suggestion-item {
  width: 100%;
  height: 15%;
  font-size: calc(2vh);
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(200, 200, 200);
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: rgb(200, 200, 200);
}

.leyenda {
  display: flex;
  width: calc(80vh);
  rotate: -90deg;
  position: absolute;
  top: 55%;
  justify-content: space-between;
  left: 29%;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
}
